@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    h1,
    h2 {
        font-family: 'Fjalla One', sans-serif;
        ;
    }

    header {
        padding: 12px;
    }

    main{
        text-align: center;
        color: rgb(29, 29, 29);

        img{
            border-radius: 8px;
            border: 1px solid #000;
        }
    }
    section {
        padding: 12px;
    }

    article {
        padding: 12px;
    }

    form {
        text-align: center;
        background: #1e130c;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1e130c, #9a8478);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1e130c, #9a8478);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        color: #fff;
        border: 1px solid rgb(15, 15, 15);

        input{
            background-color: #fbfbfb;
            border-radius: 13px;
            padding: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    footer {
        color: #fff;
        background: #1e130c;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1e130c, #9a8478);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1e130c, #9a8478);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-align: center;

        i:hover{
            color: #0157f6;
        }
    }

    nav {
        background-color: #010101;
        color: #fff;
        padding: 13px;
        word-spacing: 1pt;

        a {
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            text-align: left;
        }

        a:hover {
            color: #0157f6;
            transition: 0.4s;
            box-shadow: 1px 1px 1px 3px #0157f6;
        }
    }

    .more {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 1px;
        border: 1px solid #000000;

        div {
            border: 1px solid #000000;
            background-color: #fbfbfb;
            padding: 12px;
        }
    }

    textarea{
        min-width: 100px;
        max-width: 150px;
        min-height: 100px;
        max-height: 150px;
    }
}